
[submodule "client-gateway-ms"]
	path = client-gateway-ms
	url = https://github.com/Hexitalk/client-gateway-ms.git
[submodule "profiles-ms"]
	path = profiles-ms
	url = https://github.com/Hexitalk/profiles-ms.git
[submodule "users-ms"]
	path = users-ms
	url = https://github.com/Hexitalk/users-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Hexitalk/auth-ms.git
[submodule "web-client"]
	path = web-client
	url = https://github.com/Hexitalk/web-client.git
[submodule "socket-ms"]
	path = socket-ms
	url = https://github.com/Hexitalk/socket-ms.git
[submodule "hub-ms"]
	path = hub-ms
	url = https://github.com/Hexitalk/hub-ms.git
[submodule "chat-ms"]
	path = chat-ms
	url = https://github.com/Hexitalk/chat-ms.git
